<html>

<body style="padding: 3%;">
  <table style="width: 100%;font-size:10px;padding: 1%;">
    <tr style="width: 100%;">
      <td style="text-align: left;">
        <img style="width:30% !important"
          src="https://i2.wp.com/www.bmtechservices.co.uk/wp-content/uploads/2020/08/B-M-Tech-Services-final-file_400.png">
        <p style="margin-left: 4%;">Company Registration No 12913876</p>
      </td>
      <td style="text-align: right;line-height: 1.5;">
        22 Wellington St
        <br>
        Millo, Cumbria
        <br>
        LA184DE
        <br>
        01229 774591
      </td>
    </tr>
  </table>
  <hr>
  <table style="width: 100%;font-size:10px;padding: 1%;line-height: 2;">
    <tr>
      <td style="width: 70%;">
        <b>Invoice  #</b><%= data.invoiceID %> 
        <br>
       <b>Date</b> <%= data.InvoiceDate %> 
      </td>
      <td>
        <b>Invoice  To:</b>   
        <%= data.invoiceTo %>
      </td>
    </tr>
  </table>
  <!-- <hr> -->
  <table style="width: 100%;font-size:10px;padding: 1%;line-height: 2;">
    <tr>
      <td style="width: 70%;">

        <% if (data.jobId !="" && data.jobId !=undefined ) { %>
          <b>Job #</b>  <%= data.jobId %>
              <% }%>
     
        <br>
        <!-- <b>Instrument Model:</b> G580
        <br> -->
      
        <% if (data.ItemType !="" && data.ItemType !=undefined ) { %>
          <b>Item Type:</b> <%= data.ItemType %>
              <% }%>
      </td>
      <td style="width: 70%;"> 
      
      
        <% if (data.Brand !="" && data.Brand !=undefined ) { %>
          <b>Brand:</b> <%= data.Brand %>
              <% }%>
        <br>
       
        <% if (data.SerialNo !=""  && data.SerialNo !=undefined) { %>
          <b>Serial No:</b> <%= data.SerialNo %>
              <% }%>
      </td>
    </tr>
  </table>
  <hr>
  <table style="width: 100%;font-size:10px;padding: 1%;line-height: 2;">
    <tr>
      <% if (data.repairDescription !=""  && data.repairDescription !=undefined ) { %>
        <div style="border: 1px solid;padding: 12px !important;min-height: 100px !important;">
          <span style="width: 100%;font-size: 10px !important;"><b>Repair Description</b></span>
          <br>
          <span style="width: 100%;font-size: 8px !important;">
              <%= data.repairDescription %>
          </span>
      </div>
    <% }%>
     
    </tr>
  </table>
  <table style="width: 100%;font-size:10px;padding: 1%;line-height: 1;">
    <tr>
      <tabel style="width:100%;margin-bottom:1rem;color:#212529">
    <tr style="text-align: justify; ">
      <th style="padding:.75rem;vertical-align:top;border-top:1px solid #dee2e6;border-bottom:1px solid #dee2e6">
        Description</th>
      <th style="padding:.75rem;vertical-align:top;border-top:1px solid #dee2e6;border-bottom:1px solid #dee2e6">
        Quantity</th>
      <th style="padding:.75rem;vertical-align:top;border-top:1px solid #dee2e6;border-bottom:1px solid #dee2e6">Unit
        Price</th> 
      <th style="padding:.75rem;vertical-align:top;border-top:1px solid #dee2e6;border-bottom:1px solid #dee2e6">Item
        Total</th>
    </tr>
    <tr>
      <% if (data.items.length > 0) { %>
        <% data.items.forEach(item => {%>
      <tr style="text-align: justify; ">
        <td style="padding:.75rem;vertical-align:top; width: 35% !important;"><%= item.name %></td>
        <td style="padding:.75rem;vertical-align:top;"><%= item.quantity %></td>
        <td style="padding:.75rem;vertical-align:top;"> 

          <% if(item.unitPrice !="" && item.unitPrice !=undefined ){ %>
            £<%= item.unitPrice %>
          <% } else{ %>  
            £<%= item.price %>
         <% } %> 

          </td>
        <td style="padding:.75rem;vertical-align:top;">£<%= item.price %></td>
      </tr> 
      <%  });%>
      <% }%>
      
      <% if (data.items1.length > 0) { %>
        <% data.items1.forEach(item1 => {%>
      <tr  style="text-align: justify; ">
        <td style="padding:.75rem;vertical-align:top; width: 35% !important;"><%= item1.name %></td>
        <td style="padding:.75rem;vertical-align:top;"><%= item1.quantity %></td>
        <td style="padding:.75rem;vertical-align:top;">  

          <% if(item1.unitPrice !="" && item1.unitPrice !=undefined ){ %>
            £<%= item1.unitPrice %>
          <% } else{ %>  
            £<%= item1.price %>
         <% } %>

        </td>
        <td style="padding:.75rem;vertical-align:top;">£<%= item1.price %></td>
      </tr>  
      <%  });%>
      <% }%>
     
      <!-- <td style="padding:.75rem;vertical-align:top;"></td>
      <td style="padding:.75rem;vertical-align:top;">£90.00</td> -->
    </tr>
    </tabel>
    </tr>
  </table> 
  <table style="width: 87%;font-size:10px;padding: 1%;line-height: 2;">
    <tr style="float: right !important;">
      <!-- <td style="width: 370px !important;">
        
      </td> -->
      <td>
        <b>Sub Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;£<%= data.subTotal %></b>
        <br>
        <b>Discount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
          <% if(data.discount !="" && data.discount !=undefined ){ %>
            £<%= data.discount %>
          <% } else{ %>  
            £0
         <% } %>
          </b>
        <br>
        <b>Invoice Total : £<%= data.totalPrice %></b></td>
    </tr>
  </table>
  <table style="width: 100%;font-size:10px;padding: 1%;line-height: 2;">
    <tr>
      <td>
        <% if (data.paymentType !=""  && data.paymentType !=undefined) { %>
           <b>Payment Type :</b>    <%= data.paymentType %> 
        <% }%> 
      </td>
    </tr>
  </table>
  <table style="width: 100%;font-size:10px;padding: 1%;line-height: 2;">
    <tr>
      <td>
        <b>Payment Terms :</b>
        <br>
        Immediately
      </td>
    </tr>
  </table>
  <table style="width: 100%;font-size:10px;padding: 1%;line-height: 2;">
    <tr>
      <td>
        <b>Payment Details :</b>
        <br>
        <!-- Cash, Bacs, Card Bacs Details B M Tech Services LTD 60-83-71 58488188 -->
        <%= data.paymentDetails %>
      </td>
    </tr>
  </table>
</body>

</html>