  
<html>

<body style="padding: 3%;">
    <table style="width: 100%;font-size:10px;padding: 1%;">
        <tr style="width: 100%;">
            <td style="text-align: left;">
                <img style="width:30% !important"
                    src="https://i2.wp.com/www.bmtechservices.co.uk/wp-content/uploads/2020/08/B-M-Tech-Services-final-file_400.png">
                <p>Company Registration No 12913876</p>
            </td>
            <td style="text-align: right;line-height: 1.5;">
                22 Wellington St
                <br>
                Millo, Cumbria
                <br>
                LA184DE
                <br>
                01229 774591
            </td>
        </tr>
    </table>
    <hr>
    <table style="width: 100%;font-size:8px;padding: 1%;line-height: 2;">
        <tr>
            <td><b>Customer Details :</b></td>
        </tr>
        <tr>
            <td style="width: 15%;"><b>First Name :</b></td>
            <td style="width: 35%;"><%= data.firstname %></td>
            <td style="width: 15%;"><b>Address1 :</b></td>
            <td style="width: 35%;"><%= data.address %></td>
        </tr>
        <tr>
            <td style="width: 15%;"><b>Surename :</b></td>
            <td style="width: 35%;"><%= data.lastname %></td>
            <!-- <td style="width: 15%;"><b>Address2 :</b></td>
            <td style="width: 35%;">Kapurai Char Rasta</td> -->
        </tr>
        <tr>
            <td style="width: 15%;font-size:7px;"><b>Phone number 1:</b></td>
            <td style="width: 35%;font-size:7px;"><%= data.customerContact %></td>
            <!-- <td style="width: 15%;"><b>Town :</b></td>
            <td style="width: 35%;"></td> -->
        </tr>
        <!-- <tr>
            <td style="width: 15%;"><b>Phone number 2 :</b></td>
            <td style="width: 35%;">9662393255</td>
            <td style="width: 15%;"><b>Country :</b></td>
            <td style="width: 35%;">India</td>
        </tr> -->
        <tr>
            <td style="width: 15%;"><b>Email Address :</b></td>
            <td style="width: 35%;"><%= data.customerEmail %></td>
            <td style="width: 15%;"><b>Postcode :</b></td>
            <td style="width: 35%;"><%= data.postCode %></td>
        </tr>

    </table>
    <hr>
    <table style="width: 100%;font-size:8px;padding: 1%;line-height: 2;">
        <tr>
            <td style="width: 15%;"><b>Item Details :</b></td>
            <td style="width: 35%;"> <%= data.itemType %></td>
            <td>Assigned to <b><%= data.assignedTo %></b></td>
        </tr>
    </table>
    <table style="width: 100%;font-size:8px;padding: 1%;line-height: 2;">
        <tr style="width: 100%;">
            <td style="width: 40%;"><b>
                    Shelft :<%= data.storageLocation %>
                    <br>
                    Cost :  <%= data.price %>
                </b>
            </td>
            <td style="width: 60%;">
                <div style="border: 1px solid;padding: 12px !important;height: 100px;">
                    <p style="text-align: center;"><b>Damage Assesment</b></p>
                    <span style="width: 100%;font-size: 7px !important;">
                        <%= data.damageAsses %>
                    </span>
                </div>
            </td>
        </tr>
    </table>
    <table style="width: 100%;font-size:8px;padding: 1%;line-height: 2;">
        <tr>
            <td style="width: 60%;">
                <div style="border: 1px solid;padding: 12px !important;min-height: 100px !important;">
                    <span><b>Repair Desciption</b></span>
                    <br>
                    <span style="width: 100%;font-size: 8px !important;">
                        <%= data.repairDescription %>
                    </span>
                </div>
            </td>
        </tr>
    </table>
    <table style="width: 100%;font-size:8px;padding: 1%;line-height: 2;">
        <tr>
            <td style="width: 60%;">
                <div style="border: 1px solid;padding: 12px !important;">
                    <span><b>Diclaimer</b></span>
                    <br>
                    <div style="height: 70px;"><%= data.disclaimer %></div>
                    <br><br><br>
                    <table style="width: 100% !important;">
                        <tr>
                            <td style="width: 50% !important;font-size: 8px">
                                <p style="text-align: center;">
                                    _________________________________
                                    <br><br>
                                    Date & Time
                                </p>
                            </td>
                            <td style="width: 50% !important;font-size: 8px">
                                <p style="text-align: center;">
                                    _________________________________
                                    <br><br>
                                    Customer Signature
                                </p>
                            </td>
                        </tr>
                    </table> 
                </div>
            </td>
        </tr>
    </table>
</body>

</html>
<!-- <script src="https://unpkg.com/ejs@2.5.7/ejs.min.js"></script>
<script>
    html = ejs.render('<%= data.technicianNotes %>'); 
    document.getElementById('output').innerHTML = html;
</script> -->